include MANIFEST.in
include *.json
include *.md
include *.py
include *.txt
recursive-include frappe_whatsapp_new *.css
recursive-include frappe_whatsapp_new *.csv
recursive-include frappe_whatsapp_new *.html
recursive-include frappe_whatsapp_new *.ico
recursive-include frappe_whatsapp_new *.js
recursive-include frappe_whatsapp_new *.json
recursive-include frappe_whatsapp_new *.md
recursive-include frappe_whatsapp_new *.png
recursive-include frappe_whatsapp_new *.py
recursive-include frappe_whatsapp_new *.svg
recursive-include frappe_whatsapp_new *.txt
recursive-exclude frappe_whatsapp_new *.pyc